.heading1 {
background-color:rgb(0, 217, 255);
font-family: 'Goldman', cursive;
}
/* font-family: 'Architects Daughter', cursive;
font-family: 'Beau Rivage', cursive;
font-family: 'Goldman', cursive; */