{% extends 'bootstrap/base.html'%}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Beau+Rivage&family=Goldman&display=swap" rel="stylesheet">
{% endblock %}
<!-- Navbar block  --> 
{% block navbar %}
    {% include 'navbar.html' %}
{% endblock %}