<div class="page-footer text-center foot">
    <h5>Family News Hub </h5>
<div class="social text-center">
     <a href="https://web.facebook.com/?_rdc=1&_rdr">
         <img src="{{ url_for('static', filename='/social_icons/facebook.png') }}" class="padd" alt="" srcset=""></a>
    
    <a href="https://twitter.com/i/flow/login">
          <img src="{{ url_for('static', filename='/social_icons/twitter.png') }}" class="padd" alt="" srcset=""></a>

    <a href="https://www.linkedin.com/">
        <img src="{{ url_for('static', filename='/social_icons/linkedIn.png') }}" class="padd linkedin" alt="" srcset=""></a>

  
</div>
</div>