{% macro displaySourceList(sources_list) %} <!-- Defining the first macro to avoid repitition in our index.html file-->
{% for source in sources_list %}
<div class="card">
    <div class="row">
        <div class="col-md-6">
            <div class="card-body">
                <h5 class="card-title text-primary">{{source.name}}</h5>
                <p class="card-text">{{source.description|truncate(200)}}
                    <a href="{{source.url}}">visit page.</a>
                </p>
                <p class="card-text"><small class="text-muted">Source Category:{{source.category}}</small></p>
                <p class="card-text"><small class="text-muted">Source Country:{{source.country}}</small></p>
                <a href="/sources/{{source.id}}" class="btn btn-success btn-sm">View Articles</a>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endmacro %}
{% macro displayArticles(articles_list) %}
{% for article in articles_list %}
<div class="card" style="width: 15rem;">
    <img class="card-img-top cards" src="{{article.urlToImage}}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{article.title}}</h5>
      <p class="card-text">{{article.description|truncate(200)}}.</p>
      <a href="{{article.url}}" class="btn btn-primary">Read More</a>
      <p class="card-text"><small class="text-muted">Publish Date:{{article.publishedAt}}</small></p>
      <p class="card-text"><small class="text-muted">By:{{article.author}}</small></p>
    </div>
  </div>

{% endfor %}
    
{% endmacro %}
   